This notebook contains the logic of creating the feature set file - 'scaled_feature_set.csv'
This file has all the features in normalised form while the target column is in raw form.

In [1]:
import technical_indicators as ti
import pandas as pd
import numpy as np
import lightgbm as lgb
from IPython.display import set_matplotlib_formats
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import RandomizedSearchCV
%matplotlib inline

In [2]:
data = pd.read_csv("./AXISBANK.NS.csv")

In [3]:
data = pd.DataFrame(data.convert_objects(convert_numeric='float'))

C:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [49]:
n1 = 30
n2 = 40
n3 = 50

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1232 entries, 0 to 1231
Data columns (total 7 columns):
Date         1232 non-null object
Open         1232 non-null float64
High         1232 non-null float64
Low          1232 non-null float64
Close        1232 non-null float64
Adj Close    1232 non-null float64
Volume       1232 non-null float64
dtypes: float64(6), object(1)
memory usage: 67.4+ KB

In [51]:
data.shape

(1232, 7)

In [52]:
data.ffill(inplace=True)

In [53]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-04-04,253.199997,254.000000,248.020004,248.770004,213.306046,6417705.0
1,2013-04-05,248.089996,249.869995,243.440002,245.910004,210.853775,6484050.0
2,2013-04-08,245.300003,247.600006,239.600006,240.639999,206.335022,4864420.0
3,2013-04-09,242.070007,247.960007,239.759995,240.639999,206.335022,7490495.0
4,2013-04-10,242.960007,248.570007,240.000000,247.860001,212.525757,10046765.0

In [54]:
dataset_indices = pd.to_datetime(data.Date, format='%Y-%m-%d')

In [55]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-04-04,253.199997,254.000000,248.020004,248.770004,213.306046,6417705.0
1,2013-04-05,248.089996,249.869995,243.440002,245.910004,210.853775,6484050.0
2,2013-04-08,245.300003,247.600006,239.600006,240.639999,206.335022,4864420.0
3,2013-04-09,242.070007,247.960007,239.759995,240.639999,206.335022,7490495.0
4,2013-04-10,242.960007,248.570007,240.000000,247.860001,212.525757,10046765.0

In [56]:
df = data
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-04-04,253.199997,254.000000,248.020004,248.770004,213.306046,6417705.0
1,2013-04-05,248.089996,249.869995,243.440002,245.910004,210.853775,6484050.0
2,2013-04-08,245.300003,247.600006,239.600006,240.639999,206.335022,4864420.0
3,2013-04-09,242.070007,247.960007,239.759995,240.639999,206.335022,7490495.0
4,2013-04-10,242.960007,248.570007,240.000000,247.860001,212.525757,10046765.0
5,2013-04-11,249.309998,250.979996,246.199997,250.429993,214.729401,9714180.0
6,2013-04-12,248.000000,255.399994,246.899994,252.860001,216.812988,7911225.0
7,2013-04-15,251.199997,262.269989,250.800003,258.839996,221.940491,7689700.0
8,2013-04-16,257.299988,273.799988,256.549988,272.660004,233.790359,11987860.0
9,2013-04-17,274.359985,290.000000,273.230011,275.440002,236.174042,9186545.0
10,2013-04-18,273.940002,287.380005,271.000000,285.880005,245.125748,11300880.0
11,2013-04-22,285.880005,296.799988,285.880005,288.230011,247.140747,13252895.0
12,2013-04-23,289.000000,291.019989,282.630005,288.959991,247.766663,7340650.0
13,2013-04-25,288.959991,304.000000,288.959991,300.679993,257.815857,19391755.0
14,2013-04-26,298.000000,299.980011,293.420013,297.269989,254.892029,10489965.0
15,2013-04-29,297.200012,297.200012,292.049988,295.079987,253.014206,6561785.0
16,2013-04-30,297.399994,300.200012,291.600006,298.540009,255.980957,9010945.0
17,2013-05-02,298.540009,305.750000,296.790009,303.200012,259.976685,10775590.0
18,2013-05-03,302.600006,302.600006,293.399994,294.959991,252.911331,9326475.0
19,2013-05-06,293.399994,294.369995,289.000000,291.950012,250.330444,6739100.0
20,2013-05-07,292.399994,301.399994,291.820007,300.790009,257.910217,7357170.0
21,2013-05-08,301.200012,302.809998,294.149994,297.940002,255.466492,4865505.0
22,2013-05-09,297.600006,297.600006,289.519989,290.829987,249.370056,15607600.0
23,2013-05-10,290.000000,294.940002,289.200012,293.980011,252.071014,7711835.0
24,2013-05-13,293.000000,299.600006,289.220001,290.399994,249.001389,10233900.0
25,2013-05-14,291.000000,294.380005,289.019989,293.500000,251.659470,6341930.0
26,2013-05-15,293.600006,302.989990,293.600006,301.739990,258.724792,8367595.0
27,2013-05-16,300.459991,308.000000,300.290009,306.179993,262.531830,5787370.0
28,2013-05-17,306.000000,308.190002,303.000000,307.049988,263.277802,6127865.0
29,2013-05-20,307.739990,309.980011,304.910004,305.940002,262.326050,7109685.0
...,...,...,...,...,...,...,...
1202,2018-02-19,537.849976,544.950012,527.500000,540.549988,540.549988,4251723.0
1203,2018-02-20,542.000000,548.049988,529.400024,531.700012,531.700012,3395183.0
1204,2018-02-21,534.000000,538.500000,524.400024,535.799988,535.799988,4638382.0
1205,2018-02-22,533.000000,533.750000,527.500000,530.250000,530.250000,7808359.0
1206,2018-02-23,527.000000,538.900024,525.549988,536.650024,536.650024,3888629.0
1207,2018-02-26,541.099976,554.400024,539.000000,552.299988,552.299988,5297794.0
1208,2018-02-27,551.599976,551.599976,536.150024,538.400024,538.400024,4136383.0
1209,2018-02-28,534.000000,536.500000,520.000000,528.750000,528.750000,6626661.0
1210,2018-03-01,524.000000,535.549988,522.000000,525.750000,525.750000,9827510.0
1211,2018-03-05,525.750000,528.950012,521.299988,524.549988,524.549988,6766199.0
1212,2018-03-06,526.000000,530.650024,511.200012,517.349976,517.349976,12240120.0
1213,2018-03-07,510.899994,517.900024,507.549988,512.650024,512.650024,10428057.0
1214,2018-03-08,518.450012,523.950012,507.450012,520.549988,520.549988,8483978.0
1215,2018-03-09,522.450012,522.549988,503.000000,505.350006,505.350006,4955525.0
1216,2018-03-12,510.600006,521.950012,505.299988,519.200012,519.200012,5283334.0
1217,2018-03-13,517.099976,534.950012,514.650024,531.500000,531.500000,7846232.0
1218,2018-03-14,528.950012,538.000000,522.500000,536.150024,536.150024,4976540.0
1219,2018-03-15,535.200012,539.200012,528.250000,529.650024,529.650024,3932830.0
1220,2018-03-16,530.900024,532.900024,520.500000,522.599976,522.599976,12146623.0
1221,2018-03-19,522.599976,526.000000,517.049988,519.450012,519.450012,4656613.0
1222,2018-03-20,509.000000,525.000000,509.000000,521.099976,521.099976,5398111.0
1223,2018-03-21,523.000000,532.500000,522.500000,526.299988,526.299988,5518826.0
1224,2018-03-22,522.599976,525.900024,516.750000,518.200012,518.200012,7194256.0
1225,2018-03-23,509.500000,510.250000,496.000000,499.500000,499.500000,29385110.0
1226,2018-03-26,499.000000,509.299988,495.200012,507.299988,507.299988,9498614.0
1227,2018-03-27,512.299988,522.549988,509.049988,512.200012,512.200012,6423140.0
1228,2018-03-28,512.900024,512.900024,501.600006,510.500000,510.500000,10980960.0
1229,2018-04-02,510.500000,510.500000,492.200012,499.049988,499.049988,7120498.0
1230,2018-04-03,494.000000,506.000000,493.700012,501.549988,501.549988,6053789.0
1231,2018-04-04,504.500000,504.500000,490.250000,492.250000,492.250000,6047813.0

#### Appending calculated Technical indicators columns

In [57]:
df11 = ti.moving_average(df,n1)
df12 = ti.moving_average(df11,n2)
df13 = ti.moving_average(df12,n3)

In [58]:
df13.head(1)

,Date,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50
0,2013-04-04,253.199997,254.0,248.020004,248.770004,213.306046,6417705.0,NaN,NaN,NaN

In [59]:
df21 = ti.exponential_moving_average(df13,n1)
df22 = ti.exponential_moving_average(df21,n2)
df23 = ti.exponential_moving_average(df22,n3)

In [60]:
df23.head(1)

,Date,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,EMA_30,EMA_40,EMA_50
0,2013-04-04,253.199997,254.0,248.020004,248.770004,213.306046,6417705.0,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
df3 = ti.macd(df23,12,26)

In [62]:
df3.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,EMA_30,EMA_40,EMA_50,MACD_12_26,MACDsign_12_26,MACDdiff_12_26
0,2013-04-04,253.199997,254.000000,248.020004,248.770004,213.306046,6417705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013-04-05,248.089996,249.869995,243.440002,245.910004,210.853775,6484050.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-04-08,245.300003,247.600006,239.600006,240.639999,206.335022,4864420.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-04-09,242.070007,247.960007,239.759995,240.639999,206.335022,7490495.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013-04-10,242.960007,248.570007,240.000000,247.860001,212.525757,10046765.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
df41 = ti.relative_strength_index(df3,n1)
df42 = ti.relative_strength_index(df41,n2)
df43 = ti.relative_strength_index(df42,n3)

In [64]:
df43.head(1)

,Date,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,EMA_30,EMA_40,EMA_50,MACD_12_26,MACDsign_12_26,MACDdiff_12_26,RSI_30,RSI_40,RSI_50
0,2013-04-04,253.199997,254.0,248.020004,248.770004,213.306046,6417705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
df51 = ti.bollinger_bands(df43,n1)
df52 = ti.bollinger_bands(df51,n2)
df53 = ti.bollinger_bands(df52,n3)

In [66]:
df53.head(1)

,Date,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,...,MACDdiff_12_26,RSI_30,RSI_40,RSI_50,BollingerB_30,Bollinger%b_30,BollingerB_40,Bollinger%b_40,BollingerB_50,Bollinger%b_50
0,2013-04-04,253.199997,254.0,248.020004,248.770004,213.306046,6417705.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
df61 = ti.stochastic_oscillator_d(df53,n1)
df62 = ti.stochastic_oscillator_d(df61,n2)
df63 = ti.stochastic_oscillator_d(df62,n3)

In [68]:
df63.head(1)

,Date,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,...,RSI_50,BollingerB_30,Bollinger%b_30,BollingerB_40,Bollinger%b_40,BollingerB_50,Bollinger%b_50,SO%d_30,SO%d_40,SO%d_50
0,2013-04-04,253.199997,254.0,248.020004,248.770004,213.306046,6417705.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
df7 = ti.stochastic_tor_k(df63)

In [70]:
df81 = ti.momentum(df7,n1)
df82 = ti.momentum(df81,n2)
df83 = ti.momentum(df82,n3)

In [71]:
df83.head(1)

,Date,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,...,Bollinger%b_40,BollingerB_50,Bollinger%b_50,SO%d_30,SO%d_40,SO%d_50,SO%k,Momentum_30,Momentum_40,Momentum_50
0,2013-04-04,253.199997,254.0,248.020004,248.770004,213.306046,6417705.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.125418,NaN,NaN,NaN

In [72]:
df91 = ti.commodity_channel_index(df83,n1)
df92 = ti.commodity_channel_index(df91,n2)
df93 = ti.commodity_channel_index(df92,n3)

In [73]:
df93.head(1)

,Date,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,...,SO%d_30,SO%d_40,SO%d_50,SO%k,Momentum_30,Momentum_40,Momentum_50,CCI_30,CCI_40,CCI_50
0,2013-04-04,253.199997,254.0,248.020004,248.770004,213.306046,6417705.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.125418,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
df10 = ti.chaikin_oscillator(df93)

In [75]:
df10.head(1)

,Date,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,...,SO%d_40,SO%d_50,SO%k,Momentum_30,Momentum_40,Momentum_50,CCI_30,CCI_40,CCI_50,Chaikin
0,2013-04-04,253.199997,254.0,248.020004,248.770004,213.306046,6417705.0,NaN,NaN,NaN,...,NaN,NaN,0.125418,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
df101 = ti.donchian_channel(df10,n1)
df102 = ti.donchian_channel(df101,n2)
df103 = ti.donchian_channel(df102,n3)

In [77]:
df103.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,...,Momentum_30,Momentum_40,Momentum_50,CCI_30,CCI_40,CCI_50,Chaikin,Donchian_30,Donchian_40,Donchian_50
0,2013-04-04,253.199997,254.000000,248.020004,248.770004,213.306046,6417705.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013-04-05,248.089996,249.869995,243.440002,245.910004,210.853775,6484050.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-04-08,245.300003,247.600006,239.600006,240.639999,206.335022,4864420.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-04-09,242.070007,247.960007,239.759995,240.639999,206.335022,7490495.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013-04-10,242.960007,248.570007,240.000000,247.860001,212.525757,10046765.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
df111 = ti.rate_of_change(df103, n1)
df112 = ti.rate_of_change(df111, n2)
df113 = ti.rate_of_change(df112, n3)

In [79]:
df113.head(1)

,Date,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,...,CCI_30,CCI_40,CCI_50,Chaikin,Donchian_30,Donchian_40,Donchian_50,ROC_30,ROC_40,ROC_50
0,2013-04-04,253.199997,254.0,248.020004,248.770004,213.306046,6417705.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
df113 = ti.ultimate_oscillator(df113)

In [81]:
df121 = ti.williamsR(df113,n1)
df122 = ti.williamsR(df121,n2)
df123 = ti.williamsR(df122,n3)

In [82]:
df123.head(1)

,Date,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,...,Donchian_30,Donchian_40,Donchian_50,ROC_30,ROC_40,ROC_50,Ultimate_Osc,WilliamsR_30,WilliamsR_40,WilliamsR_50
0,2013-04-04,253.199997,254.0,248.020004,248.770004,213.306046,6417705.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
df131 = ti.aroon_oscillator(df123,n1)
df132 = ti.aroon_oscillator(df131,n2)
df133 = ti.aroon_oscillator(df132,n3)

In [84]:
df133.head(1)

,Date,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,...,ROC_30,ROC_40,ROC_50,Ultimate_Osc,WilliamsR_30,WilliamsR_40,WilliamsR_50,AO_30,AO_40,AO_50
0,2013-04-04,253.199997,254.0,248.020004,248.770004,213.306046,6417705.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
df133.shape

(1232, 49)

In [86]:
df133[48:].head(5)

,Date,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,...,ROC_30,ROC_40,ROC_50,Ultimate_Osc,WilliamsR_30,WilliamsR_40,WilliamsR_50,AO_30,AO_40,AO_50
48,2013-06-14,256.839996,262.079987,256.359985,259.600006,222.592148,9145290.0,287.645667,288.94025,NaN,...,-0.110807,-0.057508,NaN,2.781913,-86.119645,-86.119645,NaN,-60.000000,-45.0,NaN
49,2013-06-17,260.420013,264.209991,253.809998,263.209991,225.687515,9148855.0,286.687666,288.63450,281.5886,...,-0.124938,-0.079299,0.058046,2.889545,-79.948732,-79.948732,-66.453562,-60.000000,-45.0,NaN
50,2013-06-18,262.350006,262.940002,256.799988,257.320007,220.637161,7215030.0,285.238666,287.92050,281.7596,...,-0.136336,-0.107241,0.046399,2.854352,-90.017078,-90.017078,-74.822393,-60.000000,-45.0,54.0
51,2013-06-19,257.390015,257.899994,253.399994,257.010010,220.371384,7633795.0,283.874333,287.14000,281.9816,...,-0.116288,-0.110569,0.068027,3.158435,-90.546987,-90.546987,-75.262855,-60.000000,-45.0,54.0
52,2013-06-20,252.800003,253.199997,246.399994,247.960007,212.611511,9339930.0,282.445334,286.11500,282.1280,...,-0.156541,-0.175336,0.030419,2.989314,-97.546378,-97.546378,-88.322401,-76.666667,-57.5,54.0

#### Computing percentage change/ percentage return price for target column

In [87]:
df133['PCT_price'] = df133['Close'].pct_change(periods=30)

In [88]:
df133.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,...,ROC_40,ROC_50,Ultimate_Osc,WilliamsR_30,WilliamsR_40,WilliamsR_50,AO_30,AO_40,AO_50,PCT_price
0,2013-04-04,253.199997,254.000000,248.020004,248.770004,213.306046,6417705.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013-04-05,248.089996,249.869995,243.440002,245.910004,210.853775,6484050.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-04-08,245.300003,247.600006,239.600006,240.639999,206.335022,4864420.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
df_raw_features = df133[49:]                             # avoid NaN rows

Stocks grow at a compounded rate and hence follow lognormal distribution.
Lognormal distribution is extremely useful for stock prices as long as the growth factor is assumed to be normally distributed.

In [90]:
column_names = df_raw_features.columns

In [91]:
df_raw_features.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,...,ROC_40,ROC_50,Ultimate_Osc,WilliamsR_30,WilliamsR_40,WilliamsR_50,AO_30,AO_40,AO_50,PCT_price
49,2013-06-17,260.420013,264.209991,253.809998,263.209991,225.687515,9148855.0,286.687666,288.6345,281.5886,...,-0.079299,0.058046,2.889545,-79.948732,-79.948732,-66.453562,-60.000000,-45.0,NaN,-0.098442
50,2013-06-18,262.350006,262.940002,256.799988,257.320007,220.637161,7215030.0,285.238666,287.9205,281.7596,...,-0.107241,0.046399,2.854352,-90.017078,-90.017078,-74.822393,-60.000000,-45.0,54.0,-0.144519
51,2013-06-19,257.390015,257.899994,253.399994,257.010010,220.371384,7633795.0,283.874333,287.1400,281.9816,...,-0.110569,0.068027,3.158435,-90.546987,-90.546987,-75.262855,-60.000000,-45.0,54.0,-0.137377
52,2013-06-20,252.800003,253.199997,246.399994,247.960007,212.611511,9339930.0,282.445334,286.1150,282.1280,...,-0.175336,0.030419,2.989314,-97.546378,-97.546378,-88.322401,-76.666667,-57.5,54.0,-0.147406
53,2013-06-21,245.809998,253.889999,244.789993,251.940002,216.024139,11567800.0,281.044000,284.8965,282.3540,...,-0.152488,0.016461,3.481562,-89.032049,-89.032049,-82.937982,-80.000000,-60.0,52.0,-0.143003

In [92]:
df_raw_features.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,...,ROC_40,ROC_50,Ultimate_Osc,WilliamsR_30,WilliamsR_40,WilliamsR_50,AO_30,AO_40,AO_50,PCT_price
1227,2018-03-27,512.299988,522.549988,509.049988,512.200012,512.200012,6423140.0,527.780002,539.982500,549.881999,...,-0.154157,-0.077283,3.200959,-76.648348,-86.475737,-87.160117,-93.333333,-95.0,-82.0,-0.081338
1228,2018-03-28,512.900024,512.900024,501.600006,510.500000,510.500000,10980960.0,525.990001,537.606251,548.989999,...,-0.140211,-0.089287,3.411686,-78.343955,-86.672483,-88.444115,-93.333333,-95.0,-82.0,-0.095179
1229,2018-04-02,510.500000,510.500000,492.200012,499.049988,499.049988,7120498.0,524.495000,535.238750,547.759999,...,-0.159282,-0.113903,3.217038,-89.057542,-94.185079,-94.940932,-100.000000,-95.0,-88.0,-0.082460
1230,2018-04-03,494.000000,506.000000,493.700012,501.549988,501.549988,6053789.0,523.089999,532.937501,546.526999,...,-0.153931,-0.142943,3.260615,-84.967887,-92.062838,-93.094551,-96.666667,-95.0,-88.0,-0.077524
1231,2018-04-04,504.500000,504.500000,490.250000,492.250000,492.250000,6047813.0,521.570000,530.423751,544.667999,...,-0.128607,-0.158259,3.085564,-96.882308,-97.949769,-98.543866,-80.000000,-100.0,-92.0,-0.084782

Calculating technical indicator features from lagging features result in zero-values in the initial rows till the specified lagged period. Replacing infinite and zero values with NaN.

In [93]:
df_to_fillna = df_raw_features.drop('Date',axis=1)
df_to_fillna.replace([np.inf, -np.inf,0], np.nan,inplace=True)

In [94]:
df_to_fillna.head(1)

,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,EMA_30,...,ROC_40,ROC_50,Ultimate_Osc,WilliamsR_30,WilliamsR_40,WilliamsR_50,AO_30,AO_40,AO_50,PCT_price
49,260.420013,264.209991,253.809998,263.209991,225.687515,9148855.0,286.687666,288.6345,281.5886,279.149545,...,-0.079299,0.058046,2.889545,-79.948732,-79.948732,-66.453562,-60.0,-45.0,NaN,-0.098442

Filling NaN values with the column average value.

In [95]:
df_to_normalize = df_to_fillna.fillna(df_to_fillna.mean())

In [96]:
df_to_normalize.head(2)

,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,EMA_30,...,ROC_40,ROC_50,Ultimate_Osc,WilliamsR_30,WilliamsR_40,WilliamsR_50,AO_30,AO_40,AO_50,PCT_price
49,260.420013,264.209991,253.809998,263.209991,225.687515,9148855.0,286.687666,288.6345,281.5886,279.149545,...,-0.079299,0.058046,2.889545,-79.948732,-79.948732,-66.453562,-60.0,-45.0,15.79357,-0.098442
50,262.350006,262.940002,256.799988,257.320007,220.637161,7215030.0,285.238666,287.9205,281.7596,277.692626,...,-0.107241,0.046399,2.854352,-90.017078,-90.017078,-74.822393,-60.0,-45.0,54.00000,-0.144519

In [97]:
df_to_normalize.describe()

,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,EMA_30,...,ROC_40,ROC_50,Ultimate_Osc,WilliamsR_30,WilliamsR_40,WilliamsR_50,AO_30,AO_40,AO_50,PCT_price
count,1183.000000,1183.000000,1183.000000,1183.000000,1183.000000,1.183000e+03,1183.000000,1183.000000,1183.000000,1183.000000,...,1183.000000,1183.000000,1183.000000,1183.000000,1183.000000,1183.000000,1183.000000,1183.000000,1183.000000,1183.000000
mean,449.128183,454.966578,442.921732,448.808014,438.766974,8.992257e+06,445.933125,444.926688,443.806229,445.832184,...,0.028487,0.037989,3.458178,-45.009572,-44.287175,-43.946529,10.814314,13.901099,15.793570,0.021391
std,115.296031,116.183285,114.007365,115.007147,119.532178,7.965878e+06,114.770176,114.581246,114.346329,113.954563,...,0.130800,0.145678,0.613085,30.095548,30.781354,30.991041,62.324195,63.383578,63.169297,0.111731
min,156.559998,163.399994,152.679993,156.570007,144.533203,1.238680e+06,195.272666,200.370750,204.046200,198.085098,...,-0.374995,-0.370218,1.534229,-99.021402,-99.176090,-99.176090,-100.000000,-100.000000,-100.000000,-0.359806
25%,389.300003,395.425003,383.845001,390.074997,379.239059,4.973424e+06,390.293503,387.906002,385.049601,388.573434,...,-0.057982,-0.055036,3.002880,-71.716268,-71.459744,-72.150772,-43.333333,-47.500000,-52.000000,-0.049250
50%,489.700012,495.700012,483.500000,488.500000,481.719971,7.003729e+06,492.994999,491.899998,489.478002,492.156369,...,0.028776,0.030649,3.464519,-41.827662,-39.652874,-39.629630,26.666667,37.500000,34.000000,0.021837
75%,534.000000,539.400024,525.524994,533.275024,528.763733,1.040717e+07,533.168335,531.754375,529.986502,533.150345,...,0.107033,0.135459,3.903337,-17.399931,-15.263862,-14.648627,66.666667,67.500000,68.000000,0.086853
max,650.900024,654.900024,628.700012,647.549988,630.240906,1.205419e+08,593.855001,583.685001,577.908999,590.544317,...,0.561857,0.456026,5.007196,-0.806018,-0.676061,-0.656780,100.000000,100.000000,100.000000,0.476911

scaling the features to bring the values in the range (0,1)

In [98]:
target_price = df_to_normalize['PCT_price'][30:]

In [99]:
training_set = df_to_normalize.drop('PCT_price',axis=1)

In [100]:
target_price = target_price.reset_index()

In [101]:
target_price.index

RangeIndex(start=0, stop=1153, step=1)

In [102]:
training_set.reset_index(inplace=True)

In [103]:
final_raw_features = pd.concat([training_set,target_price],axis=1)

In [104]:
final_raw_features.drop('index',axis=1,inplace=True)

In [105]:
final_raw_features

,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,EMA_30,...,ROC_40,ROC_50,Ultimate_Osc,WilliamsR_30,WilliamsR_40,WilliamsR_50,AO_30,AO_40,AO_50,PCT_price
0,260.420013,264.209991,253.809998,263.209991,225.687515,9148855.0,286.687666,288.634500,281.588600,279.149545,...,-0.079299,0.058046,2.889545,-79.948732,-79.948732,-66.453562,-60.000000,-45.0,15.79357,-0.165495
1,262.350006,262.940002,256.799988,257.320007,220.637161,7215030.0,285.238666,287.920500,281.759600,277.692626,...,-0.107241,0.046399,2.854352,-90.017078,-90.017078,-74.822393,-60.000000,-45.0,54.00000,-0.150474
2,257.390015,257.899994,253.399994,257.010010,220.371384,7633795.0,283.874333,287.140000,281.981600,276.315318,...,-0.110569,0.068027,3.158435,-90.546987,-90.546987,-75.262855,-60.000000,-45.0,54.00000,-0.194934
3,252.800003,253.199997,246.399994,247.960007,212.611511,9339930.0,282.445334,286.115000,282.128000,274.430979,...,-0.175336,0.030419,2.989314,-97.546378,-97.546378,-88.322401,-76.666667,-57.5,54.00000,-0.124214
4,245.809998,253.889999,244.789993,251.940002,216.024139,11567800.0,281.044000,284.896500,282.354000,272.939243,...,-0.152488,0.016461,3.481562,-89.032049,-89.032049,-82.937982,-80.000000,-60.0,52.00000,-0.124236
5,249.860001,251.759995,246.869995,248.610001,213.168839,8864770.0,279.651000,283.680001,282.369000,271.328497,...,-0.157483,-0.007267,3.515964,-94.140195,-94.140195,-94.140195,-80.000000,-60.0,50.00000,-0.095491
6,250.199997,250.800003,241.580002,246.289993,211.179581,17111600.0,278.077334,282.460251,282.286200,269.673591,...,-0.175018,-0.025983,3.400959,-93.114049,-93.114049,-93.114049,-86.666667,-65.0,-52.00000,-0.114986
7,247.220001,252.839996,247.220001,249.679993,214.086288,13302520.0,276.342000,281.238750,282.222600,268.354207,...,-0.176517,-0.035389,3.010592,-88.157909,-88.157909,-88.157909,-86.666667,-65.0,-52.00000,-0.143904
8,252.800003,257.000000,252.740005,255.009995,218.656479,11566105.0,274.636334,280.034000,282.146000,267.474915,...,-0.135442,-0.064733,3.448100,-80.365510,-80.365510,-80.365510,-86.666667,-65.0,-52.00000,-0.148582
9,258.399994,266.399994,257.500000,265.040009,227.256653,7250955.0,273.236001,279.286000,281.993600,267.314692,...,-0.092173,-0.037758,3.790214,-65.701749,-65.701749,-65.701749,-86.666667,-65.0,-52.00000,-0.192235
10,264.799988,270.779999,264.010010,269.760010,231.303757,5323995.0,272.030001,278.731250,281.880000,267.475393,...,-0.103162,-0.056387,4.344852,-58.202301,-58.801163,-58.801163,-86.666667,-65.0,-52.00000,-0.152765
11,268.420013,270.980011,260.929993,261.700012,224.392792,5683025.0,270.616336,277.754000,281.396400,267.096302,...,-0.121635,-0.092045,3.846044,-68.864118,-70.584785,-70.584785,-83.333333,-65.0,-52.00000,-0.121437
12,258.290009,260.410004,254.220001,255.570007,219.136642,6367035.0,269.049003,276.694751,280.743200,266.340575,...,-0.121239,-0.115552,3.686293,-76.284109,-79.546779,-79.546779,-80.000000,-65.0,-52.00000,-0.179129
13,256.420013,258.600006,251.820007,252.990005,216.924454,9497150.0,267.780669,275.748751,280.023801,265.466156,...,-0.139431,-0.158607,3.441282,-79.632270,-83.318711,-83.318711,-76.666667,-65.0,-52.00000,-0.218941
14,254.360001,260.279999,253.800003,257.609985,237.805466,5785940.0,266.626336,274.839500,279.162400,264.952106,...,-0.112913,-0.133414,3.449561,-71.385252,-76.564355,-76.564355,-70.000000,-65.0,-52.00000,-0.238151
15,255.800003,255.800003,249.199997,250.509995,231.251297,10780235.0,265.122335,273.842250,278.227201,264.007986,...,-0.146474,-0.151044,3.117233,-83.810742,-86.944456,-86.944456,-70.000000,-65.0,-52.00000,-0.219233
16,253.000000,255.460007,252.000000,252.869995,233.429871,4614270.0,263.761335,272.826500,277.383001,263.280489,...,-0.161961,-0.152978,2.717847,-78.379939,-83.494164,-83.494164,-66.666667,-65.0,-52.00000,-0.233084
17,253.800003,256.299988,249.970001,251.350006,232.026749,5341890.0,262.409001,271.566751,276.439201,262.501852,...,-0.179078,-0.171009,2.409528,-80.955159,-85.716370,-85.716370,-63.333333,-65.0,-52.00000,-0.219017
18,256.200012,259.980011,255.449997,257.549988,237.750061,4593290.0,261.442667,270.351001,275.526200,262.178913,...,-0.161212,-0.126831,2.863173,-66.179605,-76.652070,-76.652070,-60.000000,-65.0,-52.00000,-0.274626
19,259.200012,259.700012,254.199997,258.309998,238.451660,5287195.0,260.516001,269.132501,274.793200,261.926776,...,-0.155684,-0.115225,3.217683,-64.570095,-75.540945,-75.540945,-50.000000,-65.0,-52.00000,-0.320468
20,258.399994,262.989990,256.489990,261.779999,241.654892,5449990.0,259.703000,268.028501,274.189800,261.917216,...,-0.139193,-0.129692,3.618733,-57.221510,-70.038568,-70.467845,-50.000000,-65.0,-52.00000,-0.359806
21,254.000000,254.000000,245.210007,246.169998,227.244949,9493130.0,258.605667,266.580001,273.097400,260.892266,...,-0.186457,-0.173760,2.833725,-89.563446,-92.896943,-93.289480,-50.000000,-62.5,-52.00000,-0.308811
22,247.190002,247.199997,235.529999,238.740005,220.386169,17944220.0,257.348667,264.983751,271.913400,259.451250,...,-0.179700,-0.179108,2.813185,-93.583838,-95.064567,-95.688374,-96.666667,-100.0,-84.00000,-0.302212
23,241.350006,249.520004,231.619995,247.639999,228.601944,28548405.0,256.149334,263.898751,271.049600,258.683332,...,-0.152614,-0.157630,3.380449,-69.641846,-75.719913,-79.555895,-100.000000,-100.0,-86.00000,-0.301971
24,250.000000,250.600006,237.000000,238.380005,220.053833,18642230.0,254.907001,262.552251,269.937600,257.363955,...,-0.193654,-0.179132,3.072493,-85.383762,-89.754458,-91.373139,-96.666667,-95.0,-86.00000,-0.343192
25,238.800003,242.160004,235.690002,240.020004,221.567764,6446280.0,253.872668,261.162001,268.930000,256.237414,...,-0.182772,-0.182215,3.125391,-78.658522,-87.100722,-89.280236,-93.333333,-95.0,-86.00000,-0.332139
26,243.960007,243.960007,239.410004,240.570007,222.075470,5451370.0,253.073668,259.833751,267.871400,255.220213,...,-0.175904,-0.202724,3.010067,-77.261158,-85.606283,-88.578343,-40.000000,-92.5,-86.00000,-0.228915
27,234.570007,234.570007,224.000000,225.029999,207.730148,14788645.0,252.078335,258.161501,266.337201,253.260926,...,-0.214665,-0.265040,2.522920,-97.807580,-98.504647,-98.802048,-53.333333,-100.0,-94.00000,-0.153535
28,222.809998,228.960007,222.399994,225.449997,208.117859,21479325.0,251.122334,256.634251,264.722601,251.456739,...,-0.212016,-0.265755,2.759403,-93.721692,-95.406622,-96.517467,-56.666667,-100.0,-96.00000,-0.114393
29,228.380005,229.369995,218.869995,221.500000,204.471542,12108980.0,249.852334,255.019001,263.011601,249.514040,...,-0.225985,-0.276002,2.761944,-94.952976,-96.239089,-97.113374,-60.000000,-95.0,-98.00000,-0.070248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1153,537.849976,544.950012,527.500000,540.549988,540.549988,4251723.0,573.548330,569.368747,564.338998,565.211053,...,-0.015302,0.012171,3.088045,-86.963046,-86.963046,-86.963046,-56.666667,-42.5,-34.00000,NaN
1154,542.000000,548.049988,529.400024,531.700012,531.700012,3395183.0,572.496663,568.937497,564.291998,563.049050,...,-0.039559,-0.019908,2.847560,-95.804183,-95.804183,-95.804183,-56.666667,-42.5,-34.00000,NaN
1155,534.000000,538.500000,524.400024,535.799988,535.799988,4638382.0,571.508329,568.492497,564.157998,561.291046,...,-0.034595,-0.017061,3.061777,-88.953518,-88.953518,-88.953518,-63.333333,-47.5,-38.00000,NaN
1156,533.000000,533.750000,527.500000,530.250000,530.250000,7808359.0,570.339996,567.873747,563.860999,559.288398,...,-0.043905,-0.015503,2.980487,-94.331416,-94.331416,-94.331416,-63.333333,-47.5,-38.00000,NaN
1157,527.000000,538.900024,525.549988,536.650024,536.650024,3888629.0,569.468331,567.424999,563.822000,557.827858,...,-0.018652,0.001680,3.563430,-88.129839,-88.129839,-88.129839,-63.333333,-47.5,-38.00000,NaN
1158,541.099976,554.400024,539.000000,552.299988,552.299988,5297794.0,569.253331,567.561249,564.152999,557.471221,...,-0.020658,0.020039,3.805229,-72.965139,-72.965139,-72.965139,-63.333333,-47.5,-38.00000,NaN
1159,551.599976,551.599976,536.150024,538.400024,538.400024,4136383.0,568.696665,566.922499,564.092000,556.240821,...,-0.047922,-0.017429,3.594105,-86.434102,-86.434102,-86.434102,-63.333333,-47.5,-38.00000,NaN
1160,534.000000,536.500000,520.000000,528.750000,528.750000,6626661.0,567.636666,566.003749,563.707999,554.467220,...,-0.054960,-0.036271,3.440721,-91.868028,-91.868028,-91.868028,-80.000000,-60.0,-48.00000,NaN
1161,524.000000,535.549988,522.000000,525.750000,525.750000,9827510.0,566.388332,565.159999,563.249999,552.614496,...,-0.061915,-0.050393,3.569271,-94.656133,-94.656133,-94.656133,-80.000000,-60.0,-48.00000,NaN
1162,525.750000,528.950012,521.299988,524.549988,524.549988,6766199.0,564.366665,564.262499,562.667998,550.803883,...,-0.063136,-0.054013,3.376196,-95.771386,-95.771386,-95.771386,-80.000000,-60.0,-48.00000,NaN
1163,526.000000,530.650024,511.200012,517.349976,517.349976,12240120.0,562.118331,563.198747,561.924998,548.645566,...,-0.081491,-0.057565,3.227753,-94.716524,-94.716524,-94.716524,-90.000000,-67.5,-54.00000,NaN
1164,510.899994,517.900024,507.549988,512.650024,512.650024,10428057.0,559.531665,561.933748,561.198998,546.323273,...,-0.093377,-0.073970,3.124677,-95.751740,-95.751740,-95.751740,-93.333333,-70.0,-56.00000,NaN
1165,518.450012,523.950012,507.450012,520.549988,520.549988,8483978.0,556.498332,560.811247,560.537998,544.660480,...,-0.079162,-0.062072,3.107559,-89.096979,-89.096979,-89.096979,-96.666667,-72.5,-58.00000,NaN
1166,522.450012,522.549988,503.000000,505.350006,505.350006,4955525.0,552.673333,559.312498,559.544998,542.124321,...,-0.102079,-0.088803,2.995921,-98.023545,-98.113960,-98.113960,-100.000000,-75.0,-60.00000,NaN
1167,510.600006,521.950012,505.299988,519.200012,519.200012,5283334.0,549.714999,558.222498,558.836999,540.645333,...,-0.070783,-0.050562,3.258035,-86.259535,-86.998383,-86.998383,-96.666667,-75.0,-60.00000,NaN
1168,517.099976,534.950012,514.650024,531.500000,531.500000,7846232.0,546.895000,557.541248,558.529999,540.055312,...,-0.042515,-0.057541,3.776021,-75.826977,-77.126801,-77.126801,-90.000000,-75.0,-60.00000,NaN
1169,528.950012,538.000000,522.500000,536.150024,536.150024,4976540.0,544.581668,557.067500,557.974000,539.803358,...,-0.043529,-0.051901,4.003527,-69.018669,-73.394839,-73.394839,-90.000000,-75.0,-60.00000,NaN
1170,535.200012,539.200012,528.250000,529.650024,529.650024,3932830.0,542.445002,556.295000,557.257000,539.148304,...,-0.059570,-0.053351,3.992526,-75.093436,-78.611534,-78.611534,-80.000000,-75.0,-60.00000,NaN
1171,530.900024,532.900024,520.500000,522.599976,522.599976,12146623.0,540.078336,555.280000,556.519000,538.080670,...,-0.106972,-0.067535,3.778492,-81.682265,-84.269679,-84.269679,-80.000000,-75.0,-60.00000,NaN
1172,522.599976,526.000000,517.049988,519.450012,519.450012,4656613.0,537.633336,553.636250,555.699000,536.878692,...,-0.111748,-0.072245,3.424830,-80.601398,-86.797741,-86.797741,-80.000000,-75.0,-60.00000,NaN
1173,509.000000,525.000000,509.000000,521.099976,521.099976,5398111.0,536.173335,552.043749,554.922999,535.860710,...,-0.117154,-0.074834,3.969076,-75.557084,-85.473532,-85.473532,-76.666667,-75.0,-60.00000,NaN
1174,523.000000,532.500000,522.500000,526.299988,526.299988,5518826.0,534.841668,550.444999,554.183998,535.243889,...,-0.139400,-0.069237,3.753209,-68.534785,-81.300167,-81.300167,-70.000000,-75.0,-60.00000,NaN
1175,522.599976,525.900024,516.750000,518.200012,518.200012,7194256.0,533.325001,548.111250,553.238998,534.144284,...,-0.164328,-0.083319,3.300091,-79.431655,-87.800951,-87.800951,-70.000000,-75.0,-60.00000,NaN
1176,509.500000,510.250000,496.000000,499.500000,499.500000,29385110.0,531.330002,545.096250,551.922999,531.909169,...,-0.178386,-0.112473,2.642562,-95.673672,-97.220016,-97.340425,-96.666667,-100.0,-80.00000,NaN
1177,499.000000,509.299988,495.200012,507.299988,507.299988,9498614.0,529.291668,542.580000,550.812999,530.321480,...,-0.176595,-0.092081,3.145670,-83.379151,-90.373926,-90.861043,-100.000000,-100.0,-82.00000,NaN
1178,512.299988,522.549988,509.049988,512.200012,512.200012,6423140.0,527.780002,539.982500,549.881999,529.152353,...,-0.154157,-0.077283,3.200959,-76.648348,-86.475737,-87.160117,-93.333333,-95.0,-82.00000,NaN
1179,512.900024,512.900024,501.600006,510.500000,510.500000,10980960.0,525.990001,537.606251,548.989999,527.948976,...,-0.140211,-0.089287,3.411686,-78.343955,-86.672483,-88.444115,-93.333333,-95.0,-82.00000,NaN
1180,510.500000,510.500000,492.200012,499.049988,499.049988,7120498.0,524.495000,535.238750,547.759999,526.084525,...,-0.159282,-0.113903,3.217038,-89.057542,-94.185079,-94.940932,-100.000000,-95.0,-88.00000,NaN
1181,494.000000,506.000000,493.700012,501.549988,501.549988,6053789.0,523.089999,532.937501,546.526999,524.501651,...,-0.153931,-0.142943,3.260615,-84.967887,-92.062838,-93.094551,-96.666667,-95.0,-88.00000,NaN
1182,504.500000,504.500000,490.250000,492.250000,492.250000,6047813.0,521.570000,530.423751,544.667999,522.420900,...,-0.128607,-0.158259,3.085564,-96.882308,-97.949769,-98.543866,-80.000000,-100.0,-92.00000,NaN

In [106]:
final_raw_features.columns

Index([u'Open', u'High', u'Low', u'Close', u'Adj Close', u'Volume', u'MA_30',
       u'MA_40', u'MA_50', u'EMA_30', u'EMA_40', u'EMA_50', u'MACD_12_26',
       u'MACDsign_12_26', u'MACDdiff_12_26', u'RSI_30', u'RSI_40', u'RSI_50',
       u'BollingerB_30', u'Bollinger%b_30', u'BollingerB_40',
       u'Bollinger%b_40', u'BollingerB_50', u'Bollinger%b_50', u'SO%d_30',
       u'SO%d_40', u'SO%d_50', u'SO%k', u'Momentum_30', u'Momentum_40',
       u'Momentum_50', u'CCI_30', u'CCI_40', u'CCI_50', u'Chaikin',
       u'Donchian_30', u'Donchian_40', u'Donchian_50', u'ROC_30', u'ROC_40',
       u'ROC_50', u'Ultimate_Osc', u'WilliamsR_30', u'WilliamsR_40',
       u'WilliamsR_50', u'AO_30', u'AO_40', u'AO_50', u'PCT_price'],
      dtype='object')

In [107]:
min_max_scaler = MinMaxScaler()

In [108]:
scaled_inp_features = min_max_scaler.fit_transform(final_raw_features.drop('PCT_price',axis=1))

In [109]:
combined_df = pd.DataFrame(scaled_inp_features).join(final_raw_features['PCT_price'])

In [110]:
combined_df.columns = final_raw_features.columns

In [111]:
combined_df1 = df_raw_features.Date.reset_index().join(combined_df).drop('index',axis=1)

In [112]:
combined_df1.head()

,Date,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,...,ROC_40,ROC_50,Ultimate_Osc,WilliamsR_30,WilliamsR_40,WilliamsR_50,AO_30,AO_40,AO_50,PCT_price
0,2013-06-17,0.210098,0.205107,0.212449,0.217198,0.167085,0.066303,0.229350,0.230265,0.207409,...,0.315627,0.518326,0.390247,0.194192,0.195202,0.332143,0.200000,0.2750,0.578968,-0.165495
1,2013-06-18,0.214003,0.202523,0.218730,0.205202,0.156687,0.050094,0.225715,0.228402,0.207866,...,0.285802,0.504230,0.380114,0.091679,0.092985,0.247197,0.200000,0.2750,0.770000,-0.150474
2,2013-06-19,0.203969,0.192269,0.211588,0.204570,0.156140,0.053604,0.222292,0.226366,0.208460,...,0.282250,0.530406,0.467671,0.086284,0.087605,0.242726,0.200000,0.2750,0.770000,-0.194934
3,2013-06-20,0.194684,0.182706,0.196882,0.186138,0.140163,0.067905,0.218707,0.223692,0.208851,...,0.213117,0.484890,0.418975,0.015018,0.016545,0.110168,0.116667,0.2125,0.770000,-0.124214
4,2013-06-21,0.180544,0.184110,0.193500,0.194244,0.147189,0.086579,0.215191,0.220513,0.209456,...,0.237505,0.467996,0.560711,0.101709,0.102985,0.164822,0.100000,0.2000,0.760000,-0.124236

In [113]:
combined_df1.to_csv('scaled_feature_set_AXISBANK.csv',index=False)

In [117]:
feature_set = pd.read_csv("scaled_feature_set_AXISBANK.csv",parse_dates=True)
feature_set.index = pd.to_datetime(feature_set.Date, format='%Y-%m-%d')
feature_set.drop('Date',axis=1,inplace=True)

In [118]:
feature_set.shape

(1183, 49)

In [119]:
feature_set[1152:].head()

,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,EMA_30,...,ROC_40,ROC_50,Ultimate_Osc,WilliamsR_30,WilliamsR_40,WilliamsR_50,AO_30,AO_40,AO_50,PCT_price
Date,,,,,,,,,,,,,,,,,,,,,
2018-02-16,0.789922,0.783723,0.803160,0.776569,0.809781,0.022395,0.950671,0.963561,0.963166,0.939784,...,0.368220,0.464842,0.330482,0.058796,0.060196,0.081805,0.250000,0.3125,0.82,-0.084782
2018-02-19,0.771311,0.776297,0.787404,0.782069,0.815340,0.025255,0.949053,0.962651,0.963703,0.935450,...,0.383938,0.462804,0.447403,0.122775,0.123990,0.123966,0.216667,0.2875,0.33,NaN
2018-02-20,0.779706,0.782604,0.791395,0.764043,0.797119,0.018076,0.946414,0.961526,0.963578,0.929941,...,0.358046,0.423979,0.378158,0.032757,0.034233,0.034226,0.216667,0.2875,0.33,NaN
2018-02-21,0.763523,0.763174,0.780892,0.772394,0.805560,0.028496,0.943935,0.960365,0.963219,0.925462,...,0.363345,0.427425,0.439840,0.102508,0.103782,0.103762,0.183333,0.2625,0.31,NaN
2018-02-22,0.761500,0.753510,0.787404,0.761090,0.794134,0.055067,0.941003,0.958751,0.962425,0.920359,...,0.353406,0.429310,0.416433,0.047752,0.049184,0.049175,0.183333,0.2625,0.31,NaN

In [120]:
x_train = feature_set.drop('PCT_price',axis=1)[:1153]
x_test = feature_set['2018-04-04':].drop('PCT_price',axis=1)
x_test

,Open,High,Low,Close,Adj Close,Volume,MA_30,MA_40,MA_50,EMA_30,...,ROC_30,ROC_40,ROC_50,Ultimate_Osc,WilliamsR_30,WilliamsR_40,WilliamsR_50,AO_30,AO_40,AO_50
Date,,,,,,,,,,,,,,,,,,,,,
2018-04-04,0.703848,0.693998,0.709151,0.683694,0.715897,0.04031,0.818645,0.861051,0.911088,0.826419,...,0.326902,0.262996,0.256533,0.446689,0.02178,0.01245,0.006417,0.1,0.0,0.04

In [121]:
min_max_scaler = MinMaxScaler()                                        
min_max_scaler.fit(feature_set[['PCT_price']][:1153])                  # fitting the scaler to the target of training data

MinMaxScaler(copy=True, feature_range=(0, 1))

In [122]:
y = min_max_scaler.transform(feature_set[['PCT_price']][:1153])        # transforming target of training data
y_train = pd.Series(y.reshape(y.shape[0],))
y_train.head()

0    0.232230
1    0.250182
2    0.197046
3    0.281567
4    0.281541
dtype: float64

Using LightGBM and treating this as a regression problem.

In [123]:
Train_data = lgb.Dataset(x_train,label=y_train)

In [124]:
params = {
    'task': 'train',
    'boosting_type': 'gbdt',
    'objective': 'regression',
    'metric': {'l2', 'auc'},
    'max_depth':5,
    'learning_rate': 0.1,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.8,
    'bagging_freq': 5,
    'verbose': 0
}

num_round=60

#### Performing Bagging

In [125]:
PredictionsList = []

for i in np.arange(2,22):
    params['feature_fraction_seed'] = i
    %time lgbm=lgb.train(params,Train_data,num_round,verbose_eval=False)

    lgb_predictions = lgbm.predict(x_test)
    p_len = len(lgb_predictions)
    predictions = min_max_scaler.inverse_transform(lgb_predictions.reshape(len(lgb_predictions),1)).reshape(p_len,)
    

    PredictionsList.append(predictions)

Wall time: 62 ms
Wall time: 50 ms
Wall time: 32 ms
Wall time: 16 ms
Wall time: 34 ms
Wall time: 51 ms
Wall time: 67 ms
Wall time: 31 ms
Wall time: 32 ms
Wall time: 32 ms
Wall time: 31 ms
Wall time: 31 ms
Wall time: 15 ms
Wall time: 29 ms
Wall time: 16 ms
Wall time: 31 ms
Wall time: 32 ms
Wall time: 31 ms
Wall time: 31 ms
Wall time: 41 ms

In [126]:
Predictions_agg = [sum(n)/len(n) for n in zip(*PredictionsList)];
aggr_series  = pd.Series(Predictions_agg,name='Predicted Close',index=x_test.index)

In [127]:
aggr_series

Date
2018-04-04   -0.004086
Name: Predicted Close, dtype: float64